# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

# Temp File
*.swp
*.swa
*.swo

# github merge file
*.orig

#vscode 
.vscode

# PyCharm
.idea
venv
__pycache__

# my notebook
src/__pycache__/isa_base.cpython-310.pyc
output/spec_medium/tcfg.svg
output/adpcm/tcfg.svg
.DS_Store
src/__pycache__/cfg.cpython-310.pyc
src/__pycache__/cfg.cpython-311.pyc
src/__pycache__/isa_base.cpython-310.pyc
src/__pycache__/isa.cpython-310.pyc
src/__pycache__/read_asm.cpython-310.pyc
src/__pycache__/read_asm.cpython-311.pyc
src/__pycache__/read_segment.cpython-310.pyc
src/__pycache__/read_segment.cpython-311.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/util.cpython-311.pyc
